<%= form_with(model: @recipe, local: true, html: {class: 'new_recipe_form'}) do |f| %>
  <div class="form-group">
    <%= f.label :title, "レシピタイトル", class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :images, "レシピ画像", class: "form-label" %>
    <%= f.file_field :images, multiple: true, class: "form-control", id: "recipe_images" %>
    <img src="#" alt="レシピ画像プレビュー" id="recipe_image_preview" style="max-width: 200px;">
  </div>

  <div class="form-group">
    <%= f.label :content, "レシピの説明", class: "form-label" %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div id="steps-container">
    <%= f.fields_for :steps do |step| %>
      <%= render "step_fields", f: step %>
    <% end %>
  </div>

  <div id="add-step" class="add-step-button">手順を追加</div>

  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>

<script type="text/html" id="step-template">
  <%= render "step_fields", f: nil %>
</script>

<%= javascript_pack_tag 'recipes' %>