<div class="container">
  <h1 class="text-center my-5"><%= @recipe.title %></h1>

  <div class="row">
    <div class="col-md-6">
      <% if @recipe.image.attached? %>
        <%= image_tag @recipe.image, class: "img-fluid" %>
      <% else %>
        <p>画像がありません</p>
      <% end %>
    </div>
    <div class="col-md-6">
      <h2>材料</h2>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
            <div class="ingredient__ul">
              <div><%= ingredient.name %></div>
              <div><%= ingredient.quantity %></div>
            </div>
          <% end %>
      </ul>
    </div>
  </div>

  <section class="step">
    <div class="cooking-title">作り方</div>
    <% @recipe.steps.each do |step| %>
      <div class="step__item">
        <div class="step__inner">
          <div class="step__content">
            <p class="step__number"></p>
            <p class="step__description"><%= step.direction %></p>
          </div>
          <% if step.image? %>
            <div class="step__img">
              <%= image_tag step.image.url %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</main>