<%= form_with url: fridge_fridge_ingredients_path(@fridge), method: :post, local: true do |form| %>
  <div id="ingredients-fields">
    <div class="ingredient-row">
      <%= form.label :name, "食材名" %>
      <%= form.text_field :name, name: 'name[]' %>

      <%= form.label :expiration_date, "賞味期限" %>
      <%= form.date_field :expiration_date, name: 'expiration_date[]' %>
      <%= form.label :quantity, "数量" %>
      <%= form.number_field :quantity, name: 'quantity[]' %>
    </div>
  </div>
  <button id="add-ingredient" type="button">材料を追加</button>
  <%= form.submit "保存" %>
<% end %>