<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIDGE-MANAGEMENTについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIDGE-MANAGEMENTプライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIDGE-MANAGEMENTを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>FURIDGE-MANAGEMENTについて</h2>
      <ul>
        <li><%= link_to 'FURIDGE-MANAGEMENTガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIDGE-MANAGEMENTロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%#= link_to image_tag("furima-logo-white.png", class:"logo-white"), "#" %>
  <p>© FURIDGE-MANAGEMENT</p>
</div>